<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise 1</title>
    <link rel="stylesheet" href="../static/css/style01.css">
</head>
<body>
    <div class="container">
    <form action="/message" method = 'POST'>
        <div>User: <input type="text" name="user"></div>
        <div>Password:<input type="text" name="key"></div>
        <button type = "submit" id="button">Send</button>
    </form>
    </div>

    <div id="response">

    </div>
    <script src="../static/js/script01.js"></script>
</body>
</html>